   *,
   ::before,
   ::after {
       margin: 0;
       box-sizing: border-box;
       border: "0 solid #e2e8f0";
   }

   body {
       font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
           'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
           sans-serif;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   }

   /* width */
   ::-webkit-scrollbar {
       width: 4px;
       height: 4px;
   }

   /* Track */
   ::-webkit-scrollbar-track {
       background: #f1f5f9;
       border-radius: 10px;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
       background: #cbd5e1;
       border-radius: 10px;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
       background: #94a3b8;
   }